[submodule "java/edu/ntnu/iot_storytelling_sensor/iot_storytelling_network"]
	path = java/edu/ntnu/iot_storytelling_sensor/iot_storytelling_network
	url = https://github.com/itsStRaNge/iot_storytelling_network.git
